:root {
    --body-bg: rgb(204, 204, 204);
}

body {
    background-color: var(--body-bg);
}

.page {
    background: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: var(--pageShadow);
}

.page[size="F4"] {
    width: 21.5cm;
    /* height: 33cm; */
    overflow: hidden;
    padding-bottom: 25px;
}
.page[size="F4-SMP"] {
    width: 21.5cm;
    height: 33cm;
    overflow: hidden;
    padding-bottom: 25px;
}

/* Report Section */
.report {
    padding-bottom: 25px;
}

.report p {
    margin: 0;
    font-weight: 600;
}

.report h2 {
    color: var(--themeColor);
    font-family: 'Rajdhani', sans-serif;
}

/* Product Section */
thead {
    text-align: center;
}

.table td,
.table th {
    text-align: center;
    vertical-align: middle;
}

tr td:first-child {
    text-align: left;
}

/* cover */
table.center {
    margin-left: auto; 
    margin-right: auto;
  }

